@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(218, 23%, 16%);
  font-family: "Manrope", sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.box {
  position: relative;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(217, 19%, 24%);
  padding: max(4rem, 3.2vw) max(2.5rem, 3.2vw) max(6.2rem, 5vw);
  margin-top: min(22.5rem, 32vw);
  margin-inline: 1.5rem;
  border-radius: 12px;
  max-width: 540px;
}

.advice-num {
  text-transform: uppercase;
  color: hsl(150, 100%, 66%);
  letter-spacing: 4px;
  font-size: max(1rem, 0.9vw);
}

.advice-container {
  margin-top: 2.6rem;
  text-align: center;
}

.advice {
  font-size: max(2.4rem, 1.95vw);
  color: #fff;
}

.divider {
  margin-top: max(2.4rem, 2.8vw);
}

.dice-container {
  border-radius: 50%;
  padding: 2rem;
  background-color: hsl(150, 100%, 66%);
  position: absolute;
  bottom: -35px;
  border: none;
}

.dice-container:hover {
  cursor: pointer;
}
